.v-toolbar {
    display: flex;
    height: 4rem !important;

    .v-icon {
        font-size: 2.5rem !important;
    }

    .v-image {
        max-height: 100%;

        &__image {
            top: -3px;
        }
    }

    &__content, &__extension {
        height: 100% !important;
        margin: 0 2.2rem 0 2.2rem;
    }
}

.v-navigation-drawer {
    padding: 1rem 2.2rem 0 2.2rem;

    .mdi-menu {
        color: $first-color !important;
        font-size: 2.5rem !important;
    }

    .v-list {
        margin-top: 1rem;

        .v-list-item {
            padding: 0;

            &__icon {
                color: $second-color;
                margin-right: 1rem !important;

                & .mdi::before {
                    color: $second-color;
                }
            }

            &__title {
                color: $second-color;
                font-size: 1.25rem;
            }
        }
    }

    .v-image {
        position: absolute;
        bottom: 0;
        max-width: 75%;
    }
}

.v-footer {
    text-align: center;
    margin: 0 auto;
    padding: 60px;
    text-align: center;
    position: relative;
    overflow: hidden;
    width: 100%;
  
    &::before {
      left: -50%;
      width: 200%;
      content: "";
      position: absolute;
      top: 0;
      height: 600px;
      border-top-left-radius: 50%;
      border-top-right-radius: 50%;
      background-color: #01a623;
      background-image: url(../assets/green-triangles.png);
      background-repeat: repeat;
      background-size: 156px 154.5px;
      background-position: 50% 28%;
      z-index: 0;
    }
  
    .brand-copy {
      color: #ffffff;
      text-decoration: none;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 1.2rem;
      font-weight: bold;
      text-shadow: 2px 4px 10px #000000;
      z-index: 1;
    }
  }